<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <div class = "sticky-top shadow-lg p-3 bg-white">
        <a href = "/" class = "btn btn-outline-dark">Home</a>
    </div>
    <form class = "mx-auto col-sm-6" style = 'margin-top: 50px;' action = "/products/add-product" method = "post">
        <div class = 'input-group mb-3'>
            <input class = 'form-control's name = 'name' type = 'text' placeholder = "Name of the product" required>
        </div>
        <div class = 'input-group mb-3'>
            <textarea class = 'form-control' name = 'short_description' placeholder = "Short description about the product" required></textarea>
        </div>
        <div class = 'input-group mb-3'>
            <textarea class = 'form-control' name = 'description' placeholder = "Product description displayed on the product page" required></textarea>
        </div>
        <div class = 'input-group mb-3'>
            <input class = 'form-control' name = 'price' type = 'number' placeholder = "Price in PLN" min = '0' required>
            <div class = input-group-append>
                <span class = 'input-group-text'>PLN</span>
            </div>
        </div>
        <button type = 'submit' class = 'btn btn-primary'>Add</button>
    </form>
</body>
</html>