<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blep</title>
</head>
<body>
    <div class = "sticky-top shadow-lg p-3 bg-white">
        <a href = "/" class = "btn btn-outline-dark">Home</a>
    </div>
    <div class = "products-list col-sm-6 mx-auto">
        <h1 class = 'text-muted' style = "margin-bottom: 50px; margin-top: 100px;">Cart:</h1>
        <% if (cart != undefined) { 
            Object.keys(cart.items).forEach(function(item){ %>
            <div class = "row">
                <div class = "col">
                    <img src = "/images/pigCOOL.png" alt = "...">
                </div>
                <div class = "col-6" style = "margin-left: 15px;">
                    <%= cart.items[item].product.name %> 
                </div>
                <div class = "col text-muted">
                    <%= cart.items[item].qty %>x
                </div>
                <div class = "col-3 text-muted">
                    <%= cart.items[item].product.price * cart.items[item].qty %> PLN
                </div>
            </div>
           <% }); %>
           <hr>
           <div class = "text-muted">
                Total: <%= cart.totalPrice %> PLN<a href = "/order" class = "btn btn-success ml-3">Order</a>
            </div>
        <% } %> 
    </div>
</body>
</html>