<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blep</title>
</head>
<body>
    <div class = "sticky-top shadow-lg p-3 bg-white">
        <a href = "/" class = "btn btn-outline-dark">Home</a>
    </div>
</body>
</html>